<section data-ng-controller="PlacesController">
	<div class="row">
		<div class="span6">
			<leaflet defaults="defaults" center="center" marker="marker" width="100%" height="520" class="top"></leaflet>         
		</div>
		<div class="span6">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
			
		</div>
		<div class="control-group">
			<label class="control-label" for="lat">GPS</label>
			<div class="controls">
				<input type="text" data-ng-model="marker.lat" id="lat" placeholder="Latitude" required>
			</div>
			<div class="controls">
				<input type="text" data-ng-model="marker.lng" id="lng" placeholder="Longitude" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>

		<!-- Address section - would it be possible to use this as a way of guessing where the marker should be, if I don't manually move it? -->
		<div class="control-group">
			<!-- Contact - Name of person whom is the best contact regarding this place -->
			<label class="control-label" for="contact">Contact</label>
			<div class="controls">
				<input type="text" data-ng-model="contact" id="contact" placeholder="Contact">
				</input>
			</div>
			<label class="control-label" for="number">Number</label>
			<div class="controls">
				<input type="text" data-ng-model="number" id="number" placeholder="Number">
				</input>
			</div>
			<label class="control-label" for="street">Street</label>
			<div class="controls">
				<input type="text" data-ng-model="street" id="street" placeholder="Street">
				</input>
			</div>
			<label class="control-label" for="postcode">Postcode</label>
			<div class="controls">
				<input type="text" data-ng-model="postcode" id="postcode" placeholder="Postcode">
				</input>
			</div>
			<label class="control-label" for="telephone">Telephone</label>
			<div class="controls">
				<input type="text" data-ng-model="telephone" id="telephone" placeholder="Telephone">
				</input>
			</div>
			<label class="control-label" for="fax">Fax</label>
			<div class="controls">
				<input type="text" data-ng-model="fax" id="fax" placeholder="Fax">
				</input>
			</div>
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" data-ng-model="email" id="email" placeholder="Email">
				</input>
			</div>
		</div>

		<!-- Website - Title & URL -->
		<!-- <div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="wtitle" id="title" placeholder="Title" required>
				</input>
			</div>
			<label class="control-label" for="url">URL</label>
			<div class="controls">
				<input type="text" data-ng-model="wurl" id="url" placeholder="URL" required>
				</input>
			</div>
		</div> -->

		<!-- The submit button goes here -->
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</div>
</section>