html { 
  background: url('/img/backdrops/farnborough01.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: inherit;
}
.container {
	/*width: 980px;*/
	margin: 50px auto;
	padding: 20px;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	/*background-color: white;*/
	/*opacity: 0.2;*/
}

.sidebar {
    position:relative;
  padding:8px 15px 10px;
    border-bottom:1px solid #ccc;
    background-color:#F5F698; 
  /*font-size:12px;*/
  /*color:#999;*/
  height: 508px;
  	border-radius :10px;

}

.status-bar {
	background-color: orange;
	height: 50px;
	font-size: 18px;
	padding: 9px;
	text-align: center;
	border-radius: 10px;
}

.welcome-to-farnborough {
	/*height: 260px;*/
	padding-bottom: 30px;

}

h1, h2 {
    text-align:center;
    /*font-size: 14px;
    font-weight: bold;*/
}

ul.articles li:not(:last-child) {
    border-bottom:1px solid #ccc
}

.form-container {
	background-color: #ffffff;
	border-radius :10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}	

.scroller {
	overflow: scroll;
}

.dashboard-box {
	border: 2px dashed #ccc;
	height: 100%;
	/*margin: 2px;*/
	border-radius: 10px;
}