<div class="col-md-12 place-card element general">
	<div class="status-bar">
        
  	<button ng-show="!isAuthorised" ng-click="logIn()" type="button" class="btn btn-default">          
    	<span class="glyphicon glyphicon-plus"></span>EDIT
    </button>           
    <!-- <a class="btn" href="/#!/places/{{place.name}}/edit">edit</a>        -->
  </div>          
</div>

<div class="row" ng-cloak>
  <div class="col-md-12 place-card element general">
    <div class="isotope" isotope-container>
			
						

		</div>		
	</div>
</div>