<section>
	<div class="row">
		<div class="span12">
			<div class="search-box">
				<input type="text" ng-model="search.name" class="search-query" placeholder="Search">		
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="span12">
			&nbsp;	
		</div>
	</div>
</section>
<section data-ng-controller="PlacesController" data-ng-init="find()">
	<div class="row">
		<div class="span12 element place-card general" ng-repeat="(name, place) in places" data-category="uncritiqued" isotope-item>
        <div class="item_description">
    			<h3>
        		<span class="user"><a data-ng-href="#!/places/{{name}}">{{place.name}}</a></span>
          </h3>
          <p class="content">
        		{{place.description}}
          </p>
        </div>
      </div>
	</div>
	<div class="row">
		<h1 class="bigstatus">{{status}}</h1>	
  	<div class="isotope" isotope-container>				
  		<div class="span3 element place-card general" ng-repeat="(name, place) in places" data-category="uncritiqued" isotope-item>
    		<div class="hover_img">
    			<img src="http://placehold.it/300x150" alt="" style="opacity: 1;">
      	</div>
        <div class="item_description">
    			<h3>
        		<span class="user"><a data-ng-href="#!/places/{{name}}">{{place.name}}</a></span>
          </h3>
          <p class="content">
        		{{place.description}}
          </p>
        </div>
      </div>
  	</div>
	</div>
	<h1 data-ng-hide="!places || places.length">No places yet. <br> Why don't you <a href="/#!/places/create">Create One</a>?</h1>
</section>




