<section data-ng-controller="PlacesController" data-ng-init="find()">	
  <div class="row">
    <div class="span3">
      <div class="element place-card general">
      </div>      
    </div>
          <div class="col-md-12 element place-card general">
          <div class="status-bar"><p>{{status}}</p> </div>
          <div class="item_description welcome-to-farnborough">
          </div>
        </div>
        <div ng-cloak class="col-md-4 col-sm-6 element place-card general" ng-repeat="(name, place) in places" ng-animate="'animate'">
          <div class="hover_img {{place.class}}">
            <h1><a data-ng-href="#!/places/{{name}}">{{place.name}}</a></h1>
          </div>
          <div class="item_description">
            <p class="content">
              {{place.description}}
            </p>
            <p class="meta">
              <a ng-click="place.likes = place.likes + 1" ng-show="place.likes > 0">{{place.likes}} likes</a>
            </p>
          </div>
        </div>
  </div>	
</section>




