<section data-ng-controller="PlacesController" data-ng-init="find()">	
  <div class="row">
    <div class="span3">
      <div class="element place-card general">
        <!-- <div class="hover_img">
          <img src="http://placehold.it/300x150" alt="" style="opacity: 1;">
        </div> -->
        <div class="sidebar">
          
          <h3>Search</h3>
          <h3>Categories</h3>
          <h3>Join In</h3>
          <h3>Admin</h3>
          <a href="/#!/places/create">Create Entry</a>
          <!-- <p class="content">
            Search goes here  
            
            
          </p> -->
        </div>
      </div>      
    </div>
    <!-- <div class="span9">         -->
      <!-- <div class="isotope" isotope-container>        -->
        <!-- <div class="span12"> -->
          <div class="span9 element place-card general">
          <div class="hover_img">
            <img src="http://placehold.it/700x150" alt="" style="opacity: 1;">
          </div>
          <div class="status-bar"><p>{{status}}</p> </div>
          <div class="item_description welcome-to-farnborough">

            <h3>
             Welcome to Farnborough Guide!
            </h3>
            <p class="content">
              Your guide to all of the cool stuff in this town, some of it you may have never come across before!
            </p>
            <div class="search-box">
              <input type="text" ng-model="search" class="search-query" placeholder="Search">    
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="span3 element place-card general" ng-repeat="(name, place) in places | filter:search" ng-animate="'animate'">
          <div class="hover_img">
            <img src="http://placehold.it/300x150" alt="" style="opacity: 1;">
          </div>
          <div class="item_description">
            <h3>
              <span class="user"><a data-ng-href="#!/places/{{name}}">{{place.name}}</a></span>
            </h3>
            <p class="content">
              {{place.description}}
            </p>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>	
  <!-- <h1 data-ng-hide="!places || places.length">No places yet. <br> Why don't you <a href="/#!/places/create">Create One</a>?</h1> -->
</section>




