<div class="row">
  <div class="col-md-12 place-card element general">
    <div class="status-bar">
        
      <span ng-show="isAuthorised">
        <a href="#/new">
          <button type="button" class="btn btn-default">          
            <span class="glyphicon glyphicon-plus"></span>NEW CARD
          </button>        
        </a>
        <button ng-click="logOut()" type="button" class="btn btn-default">          
          <span class="glyphicon glyphicon-plus"></span>LOGOUT
        </button>  
      </span>          
      <span ng-show="!isAuthorised" class="form-inline">
        <input type="text" class="form-control" placeholder="email">
        <input type="password" class="form-control" placeholder="password">
        <button ng-click="logIn()" type="button" class="btn btn-default">          
          <span class="glyphicon glyphicon-plus"></span>LOGIN/REGISTER
        </button>          
      </span>      
      <span>{{authmessage}}</span>                  
    </div>          
  </div>
  <div class="col-md-12 place-card element general">
    <div class="status-bar">      
      <input type="text" ng-model="search" class="form-control" placeholder="Search">                        
    </div>          
  </div>
</div>
<div class="row">
  <div class="col-md-12 place-card element general">
    <div class="isotope" isotope-container ng-cloak>

      <!-- CARD: Newcomers card -->
      <!-- TODO: Hide this once it has been seen, how? not sure! -->
      <div ng-show="!isAuthorised" class="col-md-3 col-sm-6 element place-card general" isotope-item>
        <div class="hover_img">
          <h2>WELCOME</h2>
        </div>
        <div class="item_description">
          <p class="content">
            Farnborough Guide is a new kind of local information board that makes use of the latest web technology. 
            Think of it as being like a massive pin board, much like those you see in more traditional shops. You pin cards to the board. 
          </p>   
          <p class="content">
            A card can be anything from a business card to details of a forthcoming event. However this is no ordinary board for new information appears right before your very eyes. 
          </p>   
          <p class="content">
            Its almost magical! A great new way of promoting what you offer to the local people! It is very social too, as you will discover! Take a look around!
          </p>  
          <p class="content">You are welcome to spend time here on FG browsing what is on offer in your local area but to get 
            even more out of this service, we recommend that you register. Registration is FREE.</p> 
            <p class="content">To become an advertiser on FG, you can upgrade any time from just £100 per annum.</p>  
        </div>
      </div>
      <!-- /CARD: Newcomers card -->

      <!-- CARD: Whats going on card -->
      <div class="col-md-3 col-sm-6 element place-card general" isotope-item>
        <div class="hover_img">
          <h2>LATEST UPDATES</h2>
        </div>
        <div class="item_description">
          <img src="http://placehold.it/150x150" ng-if="place.pic != null" />          
          <p class="content">
            {{status}}
          </p>          
          <p class="meta">
          </p>
        </div>
      </div>
      <!-- /CARD: Whats going on card -->

     

      <!-- CARD: Standard -->
      <!-- TODO: col-md-{{place.width}} -->
      <div class="col-md-3 col-sm-6 element place-card general" ng-repeat="place in places | orderByPriority | filter:search | orderBy:'name'" ng-animate="'animate'" isotope-item>
        <div class="hover_img {{place.class}}">
          <h2><a data-ng-href="#/show/{{place.$id}}">{{place.name}}</a></h2>
        </div>
        <div class="item_description">
          <img src="http://placehold.it/150x150" ng-if="place.pic != null" />
          <p class="content" ng-show="isAuthorised" editable-textarea="place.description" e-cols="17" e-rows="6" e-style="width: 100%; font-size: 14px;" onaftersave="save()">
            {{place.description || "empty"}}         
          </p>
          <p class="content" ng-show="!isAuthorised">
            {{place.description || "empty"}}         
          </p>
          <p class="meta">
          </p>
        </div>
      </div>
      <!-- /CARD: Standard -->

    </div>
  </div>
</div>
