<section class="content">
      <section class="container place-info">
        <div class="row">
          <div class="offset1 span5"><a href="/auth/facebook"><img src="/img/icons/facebook.png"></a><a href="/auth/github"><img src="/img/icons/github.png"></a><a href="/auth/twitter"><img src="/img/icons/twitter.png"></a><a href="/auth/google"><img src="/img/icons/google.png"></a></div>
          <div class="span6">
            
            <form name="myForm">   
              <div class="control-group">
                <label for="email" class="control-label">email</label>
                <div class="controls">
                  <input id="email" type="text" name="email" ng-model="user.email" placeholder="email">
                </div>
              </div>
              <div class="control-group">
                <label for="password" class="control-label">Password</label>
                <div class="controls">
                  <input id="password" type="password" name="password" ng-model="user.password" placeholder="Password">
                </div>
              </div>
              <div class="form-actions">
                <button ng-click="signin()" ng-disabled="myForm.$invalid" class="btn btn-primary">Login</button>&nbsp;
                or&nbsp;<a href="/signin" class="show-login">login</a>
              </div>
            </form>
          </div>
        </div>
      </section>
    </section>